<div class="columns is-mobile is-centered">
  <div class="column is-half has-text-centered">
    <a rel="me" href="{{ include.link }}">
      <div class="box {{ include.color }} content">
        <span class="is-size-5">{{ include.name }}</span>
      </div>
    </a>
  </div>
</div>