<!DOCTYPE html>
<html lang="en-us">

<head>
  <title>{{ site.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
  <link rel="stylesheet" href="./css/snow.css">
  <link rel="stylesheet" href="./css/bulma.min.css">
  <link rel="stylesheet" href="./css/style.css">

  {% if jekyll.environment == "production" %}
  <meta name="flattr:id" content="{{ site.flattr_id }}">
  <!-- <script async defer data-domain="{{ site.datadomain }}" src="https://plausible.io/js/plausible.js"></script> -->
  {% endif %}
</head>

<body>
  {{ content }}
</body>

</html>