@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,900italic,700italic&display=swap");

body,
button,
input,
optgroup,
select,
textarea,
p,
a {
  font-family: "Nunito", "Roboto", sans-serif;
}

html {
  background-color: black;
}

.title {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
}

.box_turquoise {
  box-shadow: 5px 8px turquoise;
}

.box_mastodon {
  box-shadow: 5px 8px #595aff;
}

.box_green {
  box-shadow: 5px 8px #1E792C;
}

.box_red {
  box-shadow: 5px 8px #C30F16;
}

.box:hover {
  /* background-color: cyan; */
  box-shadow: 5px 7px #363636;
  cursor: pointer;
}