---
layout: default
title: Home
---
<!-- {% include navbar.html %} -->
<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <figure class="image is-128x128 container"><img class="is-rounded" src="./img/icon.gif"></figure>
        <h1 class="title has-text-centered has-text-link-light">Egee's Link Drawer</h1>
      </div>
    </div>
    <!-- {% include snow.html %} -->
    {% include drawer_item.html color="box_mastodon" name="Mastodon" link="https://mastodon.social/@egeexyz" %}

    {% include separator.html %}

    {% include drawer_item.html color="box_red" name="Linux YouTube" link="https://www.youtube.com/c/OGEgee" %}
    {% include drawer_item.html color="box_green" name="ASMR YouTube" link="https://www.youtube.com/c/OpenEgee" %}
    {% include drawer_item.html color="box_red" name="Twitch" link="https://www.twitch.tv/egeexyz" %}

    {% include separator.html %}

    {% include drawer_item.html color="box_green" name="GitHub" link="https://github.com/egee-irl" %}
    {% include drawer_item.html color="box_red" name="GitLab" link="https://gitlab.com/egee-irl" %}

    {% include separator.html %}

    {% include drawer_item.html color="box_green" name="Ko-Fi" link="https://ko-fi.com/egee" %}
    {% include drawer_item.html color="box_red" name="Flattr" link="https://flattr.com/@egeexyz" %}

    {% include separator.html %}

    {% include drawer_item.html color="box_green" name="SoundCloud" link="https://soundcloud.com/egeeirl" %}
    {% include drawer_item.html color="box_red" name="Spotify"
    link="https://open.spotify.com/user/1236647214?si=d2256b3282404ae2" %}
    {% include drawer_item.html color="box_green" name="FurAffinity" link="https://www.furaffinity.net/user/egeeirl"%}
  </div>
</section>